/**
 * $file
 * Visual styles for fields.
 */

.field--label {
  font-weight: bold;
}
.field--label-inline .field--label,
.field--label-inline .field--items {
  float: left; /*LTR*/
}
.field--label-inline .field--label,
.field--label-inline > .field--item,
.field--label-inline .field--items {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
  padding-left: 0.5em;
  padding-right: 0;
  float: right; /*RTL*/
}
.field--label-inline .field--label::after {
  content: ':';
}

.views-field-field-value-helium-balloons {
  text-align: center;

}

.views-field-title {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 3px;
  text-align: center;
}

.views-field-field-field-ballon-size-helium-b {
  text-align: center;
}

.views-field-field-kolir-ukr-movoyu-gemar {
  text-align: center;
}

.field-content a img {
  margin-left: auto;
  margin-right: auto;
}

.views-view-grid .balloons-helium-row {
  margin-bottom: 18px;
  margin-top: 15px;
}

.views-view-grid .balloons-palitra-row {
  margin-top: 15px;
}

.palitra-balloons-img img {
  margin-left: auto;
  margin-right: auto;
}


.container-balloons-content {
  margin-bottom: 18px;
}

.container-balloons-content .col-img-balloons {
  width: 35%;
  float: left;
}

.col-img-balloons img {
  margin-left: auto;
  margin-right: auto;
}

.col-img-content div {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.col-img-content .description-helium-balloon {
  margin-top: 15px;
}

.title-helium-balloons {
  display:table;
  margin:15px auto;
  font-size: 24px;
  font-weight: bold;
}
